* {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.Layout {
  display: flex;
}

/* navbar ***************************************************/
.navbar {
  background-color: #5150c7;
  height: 100vh;
  padding: 4px;
  position: fixed;
  left: 0;
}

.logo {
  background-color: aliceblue;
  padding: 0px 5px;
  margin: 10px 2px;
}

.link {
  font-size: 0.8rem;
  font-weight: 500;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3px;
  padding: 10px 0px;
  line-height: 30px;
  color: rgb(205, 205, 205);
}

.link:hover {
  background-color: rgba(128, 128, 255, 0.8); /* More opaque on hover */
  transform: scale(1.05); /* Slightly scale up */
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
  border-radius: 10%;
  color: white;
}

/* home ******************************/

.mainHome {
  margin-left: 86px;
  background-color: #f4f3f8;
}
.home {
  background-color: #f8fafc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 93vw;
  padding: 10px 5px;
}

.homeContent {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 10%;
}

.homeButton {
  padding: 6px 10px;
  border-radius: 100%;
  border: none;
  background-color: black;
  color: white;
  font-size: 1.2rem;
}

.month {
  span {
    font-weight: bold;
  }
  h2 {
    font-weight: 500;
  }
  p {
    font-size: 0.9rem;
  }
  margin: 20px;
  line-height: 33px;
}

.info {
  display: flex;
  flex: 2;
  justify-content: center;
  align-items: center;
}

.overview {
  flex: 1;

  .apOverview {
    background-color: #f8fafc;
    margin: 14px;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);

    h3 {
      font-size: 1.5rem;
      font-weight: 300;
      span {
        background-color: #cecdf8;
        padding: 2px 8px;
        border-radius: 50px;
        margin: 5px;
        color: #5150c7;
      }
    }
    .dues {
      display: flex;
      justify-content: space-between;
      padding: 5px;
      margin: 10px;

      .items {
        line-height: 30px;
        .para {
          margin-bottom: 5px;
        }
        h1 {
          font-weight: 500;
        }
        .exp {
          font-size: 0.7rem;
          font-weight: 600;
          color: rgb(89, 89, 89);
        }
        .danger {
          display: flex;
          align-items: center;
          gap: 5px;
          font-size: 0.6rem;
          font-weight: 600;
          color: red;
        }
      }
    }
  }
  .recent {
    background-color: #f8fafc;
    margin: 14px;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
    h1 {
      font-size: 1rem;
      font-weight: 500;
      margin: 20px 0px;
    }
    .item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      .head {
        display: flex;
        gap: 15px;
        align-items: center;
        .title {
          font-size: 1.1rem;
          color: rgb(75, 75, 75);
          font-weight: 600;
        }
      }
      .body {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        h1 {
          margin: 3px 0px;
        }
        p {
          font-size: 0.7rem;
          font-weight: 500;
          color: rgb(104, 104, 104);
          line-height: 12px;
          margin-bottom: 3px;
        }
      }
    }
  }
}
.summary {
  background-color: #f8fafc;
  flex: 1;
  padding: 37px 10px;
  border-radius: 10px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
}

.chartSummary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Verdana;
  font-style: italic;

  div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin: 3px;
    padding: 10px;
    background-color: #f4f3f8;
    border-radius: 10px;
    border: 2px solid lightgrey;
  }
}

.lowMonthChart {
  display: flex;
  font-style: italic;
  justify-content: center;
  gap: 50px;

  p {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 5px;
  }
}

.barChart {
  margin: 25px 0px;
  h3 {
    font-style: italic;
    margin: 15px;
  }
}

.barVendors {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;

  ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin: 20px 0px;
    font-weight: 100;

    li {
      display: flex;
      align-items: center;
      justify-content: space-around;
      gap: 20px;
    }
  }
}
.compare {
  margin: 10px;
  margin-left: 100px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
  justify-content: center;
}
.analyze {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 93vw;

  .glean {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 35%;
    background-color: #f7f5f9;
    padding: 5px 30px;
    border-radius: 10px;

    .gleanBar {
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        height: 30px;
        border-radius: 100px;
      }
    }
  }

  .date {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 40%;
    p {
      width: 70%;
    }
    .pContent {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #f7f5f9;
      padding: 5px 30px;
      border-radius: 10px;
    }
  }
}

.mixBar {
  display: flex;
  flex: 2;
  gap: 5px;
  .sideBar1 {
    flex: 1;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
  }
  .sideBar2 {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    text-align: start;
    font-weight: 400;
    font-size: 1.2rem;
    color: rgb(79, 78, 78);
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
    .green {
      color: rgb(23, 159, 129);
      font-weight: bold;
    }
    .red {
      color: red;
      font-weight: bold;
    }
    h4 {
      font-style: italic;
    }
  }
}

.filter {
  display: flex;
  margin: 5px;
  padding: 15px;
  justify-content: space-between;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  p {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 10%;
    border-radius: 10px;
    border: 1px solid lightgray;
    padding: 10px;
    background-color: #f8fafc;
  }
}

.main {
  list-style: none;
  display: flex;
  justify-content: space-around;
  margin: 8px;
  padding: 12px;
  font-size: large;
  font-weight: bold;
  border-bottom: 1px solid gray;
  color: #4e4e4e;
}

.item {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 8px;
  padding: 12px;
  color: #3e3e3e;
  border-bottom: 1px solid gray;
  .red {
    color: rgb(196, 35, 83);
  }

  div {
    width: 10%;
    display: flex;
    gap: 10px;
    justify-content: flex-start;
    align-items: center;
  }
  img {
    height: 20px;
  }
}
